body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#title {
  color: #526477;
  font-size: 24px;
  margin-bottom: 20px;
}
.container {
  text-align: center;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(32, 9, 160, 0.2);
  width: 50vh;
}
#finishContainer {
  height: 35vh;
  flex-direction: column;
}
#finishGameResult {
  margin-top: 30px;
  font-size: 25px;
}
#btnPlayStart {
  font-size: 20px;
  padding: 10px 20px;
  margin: 50px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #0f63be;
  color: white;
  transition: background-color 0.5s;
}
#gameContainer {
  height: 65vh;
  display: none;

}
.timeContainer,
.scoreContainer,
.playContainer {
  text-align: center;
  background: #ffffff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(32, 9, 160, 0.2);
}

.playContainer{
  height: 25vh;
}
.timeContainer {
  padding: 2px;

  margin-inline: 20px;
}
#timeCount {
  font-size: 18px;
  font-weight: bold;
  color: #0f63be;
}
.scoreContainer {
  display: flex;
  justify-content: space-around;
}
.score {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(32, 9, 160, 0.2);
}
.choiceButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btnChoice {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #0f63be;
  color: white;
  transition: background-color 0.5s;
}

.btnChoice:hover {
  background-color: #0f63be;
}
.btnChoice:disabled {
  background-color: #788591;
}
.btnChoice i {
  padding-right: 5px;
}
.scoreBoard{
  width: 10vh;
}
.resultContainer {
  display: flex;
  justify-content: space-around;
}
.choiceResult {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 8px;
  color: #0f63be;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(20, 2, 121, 0.2);
}
.scoreName {
  font-size: 18px;
  font-weight: 500;
  color: #0f63be;
}
.winStyle {
  color: green;
  margin: 10px 0;
  font-size: 18px;
}

.lostStyle {
  color: red;
  margin: 10px 0;
  font-size: 18px;
}
.drawStyle {
  color: orange;
  margin: 10px 0;
  font-size: 18px;
}
